<div class="panel panel-default">
    <div class="panel-body">

        <form>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="word.title"  placeholder="Word Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" ng-model="word.definition" placeholder="Word Definition">
            </div>

            <div class="form-group">
                <textarea  class="form-control" ng-model="word.examples"  placeholder="Examples of use" row="3">{{word.examples}}</textarea>
            </div>

            <div class="form-group pull-right">
                <a class="btn btn-default btn-lg" href="#/">
                    <span class="glyphicon glyphicon-home"></span>
                </a>

                <a type="button" class="btn btn-default btn-lg" ng-click="update(word)">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </a>

            </div>

        </form>

    </div>

</div>