<div class="panel panel-default">
    <div class="panel-body">

        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Word Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Word Definition">
            </div>

            <div class="form-group">
                <textarea placeholder="Examples of use" class="form-control"  row="3"></textarea>
            </div>

            <div class="form-group pull-right">
                <a class="btn btn-default btn-lg" href="#/">
                    <span class="glyphicon glyphicon-home"></span>
                </a>

                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>

            </div>


        </form>

    </div>

</div>



